<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e902640740.js" crossorigin="anonymous"></script>
    <title>{{title}}</title>
</head>
<body>
    {{{ body }}}
</body>
{{#if home}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/script.js"></script>
{{/if}}
</html>