{{>header home=true}}
   {{>topForm}}
        <label class="fname-label" for="fname">First Name</label>
        <input class="fname-input" id="fname" type="text" name="first_name" required>
        
        <label class="lname-label" for="lname">Last Name</label>
        <input class="lname-input" id="lastName" type="text" name="last_name" required>

        <label class="lname-label" for="lname">Email</label>
        <input class="lname-input" id="email" type="email" name="email" required>

        <label class="lname-label" for="lname">Password</label>
        <input class="lname-input" id="password" type="password" name="password" required>
    {{>bottomForm}}
{{>footer}}

