{{>header home=true}}
    {{>topForm}}
                <label class="fname-label" for="fname">E-Mail</label>
                <input class="fname-input" id="fname" type="email" name="email" required>

                <label class="lname-label" for="lname">Password</label>
                <input class="lname-input" id="lname" type="password" name="password" required>
                
                <button class="btn btn-primary btn-form" type="submit">send</button>
            </form>
        </div>
    </main>
{{>footer}}

