{{>header home=true}}
   {{>topForm}}
            <textarea name="signature"></textarea>  
                <label class="message-label" for="message">Please draw your signature here:</label>
                    <canvas class="signature-canvas" id="signature" width="620" height="160"></canvas>
    {{>bottomForm}} 
{{>footer}}

