{{>header home=true}}
    {{>topForm}}
                <label class="fname-label" for="fname">Age</label>
                <input class="fname-input" id="fname" type="number" name="age">

                <label class="lname-label" for="lname">City</label>
                <input class="lname-input" id="lname" type="text" name="city">

                <label class="lname-label" for="lname">Web Page URL</label>
                <input class="lname-input" id="lname" type="text" name="url">
                
  {{>bottomForm}}
{{>footer}}

